# Java / Maven build outputs
backend/target/
backend/.mvn/
backend/mvnw
backend/mvnw.cmd

# Node / React build outputs
frontend/node_modules/
frontend/dist/
frontend/.eslintcache

# System & Editor configs
.idea/
.vscode/
*.class
*.log
.DS_Store
Thumbs.db
